@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap);

body {
  color: #c2b092;
  font-family: "Comfortaa", cursive;
}

a {
  color: #c2b092;
  text-decoration: none;
}

a.btn,.btn-create  {
  background: #c2b092;
  color: white;
  border:none;
}


a.btn:hover, .btn-create:hover {
  background: #dfd9d0;
  color: white;
}
.create-btn{
  display: grid;
  justify-content: center;
  margin: 1rem 0;
}

a.btn.create-btn {
  max-width: 30rem;
  min-width: 10rem;
  margin: auto;
  padding: .575rem .375rem;
  background-color: #ffda77;

  /* grid-column: 1/3; */
}
a.btn.create-btn:hover{
  background-color: #ffa45b;
}
h1.title {
  text-align: center;
  padding: 1rem;
  text-transform: capitalize;
  font-weight: bold;
}

header p {
  color: #aee6e6;
}

nav a:hover {
  color: #ffa45b;
}

.wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 3rem;
  width: 80%;
  margin: auto;
  align-items: center;

}

.background img{

  max-width: 100%;
  border-radius: 13px;
  
}

.list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.db-item {
  border: 0.5px solid #e7e4de;
  border-radius: 12px;
  padding: 2rem;
  margin: 1rem;
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-content: space-between;
}

.db-item:hover {
  transform: scale(1.05);
}

.db-info {
  font-weight: bold;
  font-size: 1.3rem;
}

/* create page css start here */
.form-create{
  border: 5px solid #c2b092;;
  padding: 4rem;
border-radius: 13px;
}  

/* show page css start here */
.db-item-show:hover{
  transform: none;
}
.btn-back, .btn-edit, .btn-delete{
  max-width: 5rem;
}
.buttons-group-edit{

  display: grid; 
  grid-template-columns: auto auto auto;
  padding: 2rem 0;
  justify-content: space-evenly;
}

.form-delete{
  border: none;
  padding: none;
}

/* edit page css start here */
.db-item-edit:hover{
  transform: none;
}